<article class="content">
  <section class="section">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-title-block">
            <h3 class="title">
              Containers
            </h3>
          </div>
          <div class="row sameheight-container">
            <div class="col-md-12">
              <div class="card card-block sameheight-item pull-right">
              </div>
            </div>
          </div>
          <all-containers></all-containers>
        </div>
      </div>
    </div>
  </section>
</article>
