<td>{{ container | containerName }}</td>
<td>{{ container.Image }}</td>
<td>{{ container.Command }}</td>
<!--Using pipes to format a date -->
<td>{{ container.Created * 1000 | date:'yyyy-MM-dd' }}</td>
<td>{{ container.Status }}</td>
<td>PUT LOG LINKS</td>
